<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
   <appSettings>
       <add key="DataPath" value="/Users/erighetto/DotNetProjects/s21e-images/images-refine/Data/" />
       <add key="AssetsPath" value="/Users/erighetto/DotNetProjects/s21e-images/assets/" />
   </appSettings>
</configuration>